body{
    background-image: url('/Basic-Portfolio/assets/images/ep_naturalblack.png');
    /* background-repeat: no-repeat; */
    /* background-size: 100% */
}

header{
    background-color: white;
    max-width: 960px;
    margin: 0 auto 0 auto;
}

.container{
    max-width: 960px;
    border: 10px solid red;
    margin: 0 auto 0 auto;
    background-color: aliceblue
}

.clearfix{
    clear:both
}

#Title{
    float: left;
    background-color: teal;
    padding: 20px;
    
}

#About, #Portfolio, #Contact{
    float: right;
    width: 10%
}